.container {
    display: flex;
    flex-direction: row;

    border: 0px solid #000;

    background-color: #ffffff;
    font-family: "Aleo-Light", Aleo-Light;
    font-size: 14pt;
    color: #000;
    text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whitetext {
    color: #fff;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: Aleo-Light;
    src: url(../font/Aleo-Light.otf);
}

a:link {
    color: #867970;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    color: #867970;
    font-style: none;
    text-decoration: none;
}

a:visited {
    color: #867970;
    font-style: italic;
    text-decoration: none;
}

a:active {
    color: #867970;
    font-style: italic;
    text-decoration: none;
}
