@font-face {
    font-family: Aleo;
    src: url(../font/Aleo-Regular.otf);
}

body {
    background-color: #ffffff;
    font-family: "Aleo-Regular", Aleo;
    font-size: 12pt;
    color: #000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
